
@model List<Employee>

    <div class="display-3">

        @foreach(Employee item in Model)
        {
            <div class="lead my-2">
                <h4>@item.FullName</h4>
                <p>@item.Id</p>
                <p> Age : <strong>@item.Age</strong></p>
                <hr>
            </div>
        }
    </div>